<ng-container *ngIf=" documents$ | async as documents">
  <div class="card-container" >
    <div class="title">Documentos</div>
    <div class="card-content">
      <div class="item-container" *ngFor="let item of documents">
        <div class="item-circle-number">
          <span class="icon-container">
            <i class="icon" ngClass = "pi pi-shopping-cart">
            </i>
          </span>
        </div>
        <div class="item-description">
          {{item.description}}
        </div>
      </div>
    </div>
  </div>
</ng-container>
