.home-admin-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  &__header {
    display: flex;
    justify-content: center;
    h1 {
      font-weight: 500;
      font-size: 1.5rem;
      text-align: center;
    }
  }
  &__body {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__gallery-header {
      display: flex;
      justify-content: center;
    }
    &__gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        transition: transform .3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

  }

}
