.sidenav-user-container{
  /*background-color: aqua;*/
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  margin: 0 .25rem;
  align-items: center;
  transition:  all .3s ease;
}
.user-image{
  width: 2.5rem;
  min-width: 2.5rem;
  margin: 0;
  text-align: center;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0.25rem;
  border: solid .5px #f2f2f2b7;
}
.user-info{

  margin-left: .6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  color: #F2F2F2;
  .user-name{
    font-size: 12px;
    font-weight: bolder;
  }
  .user-type{
    font-size: 11px;
  }
}
