/* ==========================================================================
1. Main Colors
========================================================================== */

$primary: #41b883;
$secondary: #346beb;
$accent: #41b883;

/* ==========================================================================
2. Global colors
========================================================================== */

$negro: #000;
$white: #fff;
$gray:#ccc;
$smoke-white: #fcfcfc;
$danger: #e62965;
$info: #039be5;
$success: #06d6a0;
$warning: #faae42;
$danger-light:#ffc9c9;
$danger-2:#F92B60;
$danger-3:#eb1e51;
$danger-4:#ff0000;

/* ==========================================================================
7. Resoluciones
========================================================================== */

$res-1024: 1024px;
$res-1366: 1366px;
$res-1500: 1500px;
$res-1920: 1920px;

/* ==========================================================================
10. Variables generales
========================================================================== */

$per-1: 1%;
$per-2: 2%;
$per-3: 3%;
$per-4: 4%;
$per-8: 8%;
$per-10: 10%;
$per-12: 12%;
$per-15: 15%;
$per-16: 16%;
$per-17: 17%;
$per-18: 18%;
$per-20: 20%;
$per-22: 22%;
$per-23: 23%;
$per-25: 25%;
$per-27: 27%;
$per-28: 28%;
$per-30: 30%;
$per-32: 32%;
$per-33: 33%;
$per-35: 35%;
$per-36: 36%;
$per-38: 38%;
$per-39: 39%;
$per-40: 40%;
$per-42: 42%;
$per-45: 45%;
$per-49: 49%;
$per-50: 50%;
$per-54: 54%;
$per-58: 58%;
$per-60: 60%;
$per-61: 61%;
$per-62: 62%;
$per-63: 63%;
$per-65: 65%;
$per-70: 70%;
$per-75: 75%;
$per-80: 80%;
$per-88: 88%;
$per-90: 90%;
$per-95: 95%;
$per-100: 100%;
$per-300: 300%;
$pix-0: 0px;
$pix-1: 1px;
$pix-2: 2px;
$pix-3: 3px;
$pix-4: 4px;
$pix-5: 5px;
$pix-6: 6px;
$pix-7: 7px;
$pix-8: 8px;
$pix-9: 9px;
$pix-10: 10px;
$pix-11: 11px;
$pix-12: 12px;
$pix-13: 13px;
$pix-14: 14px;
$pix-15: 15px;
$pix-16: 16px;
$pix-17: 17px;
$pix-18: 18px;
$pix-19: 19px;
$pix-20: 20px;
$pix-21: 21px;
$pix-22: 22px;
$pix-23: 23px;
$pix-24: 24px;
$pix-26: 26px;
$pix-27: 27px;
$pix-25: 25px;
$pix-28: 28px;
$pix-29: 29px;
$pix-30: 30px;
$pix-31: 31px;
$pix-32: 32px;
$pix-34: 34px;
$pix-35: 35px;
$pix-36: 36px;
$pix-37: 37px;
$pix-38: 38px;
$pix-40: 40px;
$pix-41: 41px;
$pix-42: 42px;
$pix-45: 45px;
$pix-47: 47px;
$pix-48: 48px;
$pix-50: 50px;
$pix-53: 53px;
$pix-54: 54px;
$pix-58: 58px;
$pix-60: 60px;
$pix-64: 64px;
$pix-65: 65px;
$pix-68: 68px;
$pix-72: 72px;
$pix-74: 74px;
$pix-80: 80px;
$pix-84: 84px;
$pix-90: 90px;
$pix-96: 96px;
$pix-97: 97px;
$pix-100: 100px;
$pix-101: 101px;
$pix-102: 102px;
$pix-108: 108px;
$pix-110: 110px;
$pix-120: 120px;
$pix-121: 121px;
$pix-125: 125px;
$pix-130: 130px;
$pix-135: 135px;
$pix-136: 136px;
$pix-140: 140px;
$pix-150: 150px;
$pix-157: 157px;
$pix-160: 160px;
$pix-167: 167px;
$pix-170: 170px;
$pix-176: 176px;
$pix-180: 180px;
$pix-182: 182px;
$pix-185: 185px;
$pix-200: 200px;
$pix-220: 220px;
$pix-230: 230px;
$pix-240: 240px;
$pix-250: 250px;
$pix-255: 255px;
$pix-260: 260px;
$pix-285: 285px;
$pix-420: 420px;
$pix-460: 460px;
$pix-560: 560px;
$weight-200: 200;
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;
