<!--<app-tooltip-white-small></app-tooltip-white-small>
<app-tooltip-red-small></app-tooltip-red-small>
-->
<div class="container-join">
    <div class="container-form-join">
      <div class="body-form-join">

      </div>
    </div>
    <div class="container-banner-join-over">
      <div class="container-banner-join-under">
        <div class="banner-join-under-text-container">
          <div class="banner-big-text">Oficina de Movilidad Becas y Pasantías </div>
          <div class="banner-small-text">Accede a la plataforma de la Oficina de Movilidad Becas y pasantías y postula a la convocatoria que se adecue a tu perfil</div>
        </div>
      </div>
    </div>
</div>
