<div class="container-signin">
  <div class="container-form-signin">
    <div class="body-form-signin">
        <div class="icon-form-signin">
        </div>
        <div class="header-form-signin">
          Solicitar Acceso
        </div>
        <form class="fields-form-signin" [formGroup] = "signInForm" (ngSubmit) = "submitSignIn()">
          <div class="form-item form-item-field-email">
            <div class="form-label form-signin-label-field-email">
              Nombre
            </div>
            <input pInputText type="text" formControlName="name" id="name" placeholder="Ej. Kelvin">
            <span class="invalid-field" *ngIf = "name && name.invalid && name.touched">Debe ingresar un valor correcto</span>
          </div>
          <div class="form-item form-item-field-lastname">
            <div class="form-label form-signin-label-field-lastname">
              Apellidos
            </div>
            <input pInputText type="lastname" formControlName="lastname" id="lastname" placeholder="Ej. Pérez García">
            <span class="invalid-field" *ngIf = "lastname && lastname.invalid && lastname.touched">Debe ingresar un valor correcto</span>
          </div>
          <div class="form-item form-item-field-email">
            <div class="form-label form-signin-label-field-email">
              Correo
            </div>
            <input pInputText type="email" formControlName="email" id="email" placeholder="Ej example@gmail.com">
            <span class="invalid-field" *ngIf = "email && email.invalid && email.touched">El correo ingresado es incorrecto</span>
          </div>
          <div class="form-item form-item-field-email">
            <div class="form-label form-signin-label-field-email">
              Justificación (pdf)
            </div>
            <div>
              <input class="inputfile" type="file" id="file" name="file" accept="application/pdf" formControlName="document">
              <label for="file">Selecciona un archivo</label>
            </div>
          </div>

          <input class="submit-form" type="submit" [disabled] = "signInForm.invalid" value="Enviar Solicitud" >
        </form>

        <div class="google-form-signup" routerLink = '/registrar-cuenta'>
          Volver a Registro
        </div>
    </div>
  </div>
  <div class="container-banner-signin-over">
    <div class="container-banner-signin-under">
      <div class="banner-signin-under-text-container">
        <div class="banner-big-text">Oficina de Movilidad Becas y Pasantías </div>
        <div class="banner-small-text">Accede a la plataforma de la Oficina de Movilidad Becas y pasantías y postula a la convocatoria que se adecue a tu perfil</div>
      </div>
    </div>
  </div>
  <p-toast position="top-left" key="tl"></p-toast>

</div>
