<!--<app-tooltip-white-small></app-tooltip-white-small>
<app-tooltip-red-small></app-tooltip-red-small>
-->
<div class="container-signup">
  <div class="container-form-signup">
    <div class="body-form-signup">
        <div class="icon-form-signup">

        </div>
        <div class="header-form-signup">
          Registrarse
        </div>
        <div class="fields-form-signup">
          <div class="form-item form-item-field-email">
            <div class="form-label form-signup-label-field-email">
              Correo
            </div>
            <input class="form-input-text form-signup-input-field-email" type="email" name="email" id="email" placeholder="Ingresa tu correo">
          </div>
          <div class="form-item form-item-field-password">
            <div class="form-label form-signup-label-field-password">
              Contraseña
            </div>
            <input class="form-input-text form-signup-input-field-password" type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
          </div>
          <div class="form-item form-item-field-repeat-password">
            <div class="form-label form-signup-label-field-repeat-password">
              Repetir Contraseña
            </div>
            <input class="form-input-text form-signup-input-field-password" type="password" name="repeat-password" id="repeat-password" placeholder="Ingresa tu contraseña">
          </div>
        </div>
        <div class="submit-form-signup" routerLink = '/users'>
          Registrarse
        </div>
        <div class="google-form-signup" (click)="signInHandler()">
          Registrarse con Google
        </div>
        <div class="form-label no-account">
          ¿Ya tienes una cuenta?
        </div>
        <div class="google-form-signin" routerLink = '/iniciar-sesion'>
          Iniciar Sesión
        </div>
    </div>
  </div>
  <div class="container-banner-signup-over">
    <div class="container-banner-signup-under">
      <div class="banner-signup-under-text-container">
        <div class="banner-big-text">Oficina de Movilidad Becas y Pasantías </div>
        <div class="banner-small-text">Accede a la plataforma de la Oficina de Movilidad Becas y pasantías y postula a la convocatoria que se adecue a tu perfil</div>
      </div>
    </div>
  </div>
</div>
