@import "../../../../../../assets/scss/mixins";
@import "../../../../../../assets/scss/variables";

.erp-cfg-carga-logo {

  .previsualizar {
    -moz-border-radius:70px;
    -webkit-border-radius:70px;
    border-radius:70px;
    width: 70%;
    height: 18vw;
    margin: 0 auto;

    .previsualizar-determinado {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      @include font-size-21-12;
      line-height: 23px;
      margin: 0 auto;
      border: 3px solid #959595;

      display: grid;
      align-items: end;
      justify-items: center;

      width: inherit;
      height: inherit;
      box-sizing: inherit;
      border-radius: inherit;

      .mensaje-pre-visualizar {

        text-align: center;
        margin-bottom: 16px;
        width: 59.3%;
        color: #666666;

        span {
          display: block;
          margin-top: 10px;
        }

      }

      .img-defecto {
        margin-bottom: 16px;
      }


    }

    .previsualizar-imagen-local {
      width: inherit;
      height: inherit;
      box-sizing: inherit;
      border-radius: inherit;
      position: relative;

      display: grid;
      align-items: end;
      justify-items: end;

      .imagen-local {
        width: inherit;
        height: inherit;
        box-sizing: inherit;
        border-radius: inherit;
        position: absolute;
      }

      .contenedor-acciones {
        position: absolute;
        padding: 9px;
        display: flex;
        column-gap: 9px;

        .boton-accion {
          border: none;
          background: #FFFFFF;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          border-radius: 8px;
          height: 3.03vw;
          width: 3.03vw;
          font-size: 1.4vw;
          display: grid;
          align-items: center;
          justify-items: center;

        }

        .boton-editar {
          color: #41B883;

        }

        .boton-eliminar {
          color: #F92B60;

        }


      }


    }
  }

  .boton-cargar {
    border: 2px solid #41B883;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    height: 2.715rem;
    width: 76.5%;
    display: grid;
    align-items: center;
    margin: auto;
    margin-top: 1em;

    .input-file {
      position: absolute;
      width: 100%;
      opacity: 0;
      height: inherit;
      /* height: 40px; */
      font-size: 23px;
      overflow: hidden;
    }

    .texto-cargar {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      //font-size: 25px;
      @include font-size-25-18;
      line-height: 25px;
      /* or 100% */

      text-align: center;

      color: #41B883;
    }

  }
}
