<div class="erp-cfg-carga-logo" >
    <div class="previsualizar"  id="preview-logo" >
      <div *ngIf ="selected===false" class="previsualizar-determinado">

        <div  class="mensaje-pre-visualizar">
          <span> Suba alguna foto que lo identifique</span>
        </div>

        <em aria-hidden="true" class="fas fa-trash-alt"> </em>
      </div>

      <div *ngIf ="selected===true" class="previsualizar-imagen-local" >
        <img *ngIf="!isUpload" class ="imagen-local" [src]="profile?.image" alt="user-image" />
        <img *ngIf="isUpload" class ="imagen-local" [src]="imgPreview" alt="user-image" />

        <div class="contenedor-acciones" >
          <div class="boton-accion boton-eliminar"  (click)="deletePhoto()">
            <fa-icon class= "side-icon" [icon]="faTrash"></fa-icon>
          </div>
        </div>

      </div>

    </div>

    <div class="boton-cargar" *ngIf ="selected===false">

      <input class="input-file" (change)="onFileSelected($event)" type="file"  accept="image/*">
      <span class="texto-cargar"> Cargar Foto </span>

    </div>


  </div>
