  <div class="container-profile">
    <p class="title">Mi perfil </p>
    <p *ngIf="isEdit" class="subtitle">Modifica tus datos </p>
    <div class="sections-data">
      <div class="container-form-data">
        <p class="label-input">Correo: {{email}}</p>

        <form  [formGroup] = "profileForm" (ngSubmit) = "submitProfile()">
        <div class="item-form">
          <p class="label-input">Nombres</p>
          <input class="form-input-text" type="text" formControlName="name"  id="name-form" placeholder="Ingresa tu nombre">
        </div>

        <div class="item-form">
          <p class="label-input">Apellidos</p>
          <input class="form-input-text" type="text" formControlName="lastname" id="lastname-form" placeholder="Ingresa tu(s) apellido(s)">
        </div>

        <div class="item-form">
          <p class="label-input">Dirección</p>
          <input class="form-input-text" type="text"  formControlName="address" id="adress-form" placeholder="Ingresa tu dirección">
        </div>



        <div class="bi-container">
          <div class="item-form">
            <p class="label-input">Documento de identididad</p>
            <mat-form-field appearance="outline">
              <mat-label>Tipo de documento</mat-label>
              <mat-select formControlName = "typeUserIdentification">
                <mat-option *ngFor="let type of typesIdentification" [value]="type.id" >{{type.description}}</mat-option>
              </mat-select>
            </mat-form-field>
            <input class="form-input-text"  id="dni-form" formControlName="valueIdentification" placeholder="Nro." >
          </div>
          <div class="item-form">
            <p class="label-input">Fecha de nacimiento</p>
            <mat-form-field appearance="outline" class="example-form-field">
              <input matInput [matDatepicker]="datepicker" formControlName="birthdate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancelar</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>
          <div class="item-form">
            <p class="label-input">Número móvil</p>
            <input class="form-input-text"  formControlName="phone" id="movil-form" placeholder="Ingresa tu número">
          </div>
          <div class="item-form">
            <p class="label-input">Tipo usuario</p>
            <mat-form-field appearance="outline">
              <mat-label>Tipo usuario</mat-label>
              <mat-select formControlName = "typeUser">
                <mat-option *ngFor="let type of typesProfile" [value]="type.id" >{{type.description}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <input *ngIf="isEdit" class="submit-form" type="submit"  value="{{profile?.profile_created==1?'Guardar cambios':'Crear perfíl'}}">
        </form>
        <app-button-customized *ngIf="!isEdit" colorProp="primary" size="normal" textBtn="Modificar datos " (click)="editProfile()"></app-button-customized>
    </div>
    <div class="container-img-data">
      <app-upload-photo [profile]="profile"></app-upload-photo>
    </div>
    </div>
  </div>
