<div class="general-info-container">
  <div class="form-container">
    <div class="fields-form">
      <div class="form-item form-item-field-names">
        <div class="form-label form-label-field-name">
          Constancia de Matricula
        <div class="buttons-handler">
      <div class="form-next-step" >
        Cargar
      </div>
        </div>
        </div>

        <div class="form-label form-label-field-name">
          Constancia de Ranking
          <div class="buttons-handler" (click)="clickView()">
            <div class="form-next-step">
              Cargar
            </div>
          </div>
        </div>


        <div class="form-label form-label-field-name">
          Libreta de notas
          <div class="buttons-handler">
            <div class="form-next-step" >
              Cargar
            </div>
          </div>
        </div>

        <div class="form-label form-label-field-name">
          Ficha Registro CTI Vitae
          <div class="buttons-handler">
            <div class="form-next-step">
              Cargar
            </div>
          </div>
        </div>


        <div class="form-label form-label-field-name">
          Presentaciones directas de la pagina
          <div class="buttons-handler">
            <div class="form-next-step" >
              Cargar
            </div>
          </div>
        </div>


        <div class="form-label form-label-field-name">
          Antecedentes
          <div class="buttons-handler">
            <div class="form-next-step" >
              Cargar
            </div>
          </div>
        </div>






      </div>

      <div class="buttons-handler2">
        <div class="form-back-step" routerLink="../llenar-ficha">
          Atrás
        </div>
        <div class="form-next-step" routerLink="/home">
          Finalizar
        </div>
      </div>


      </div>
</div>
</div>
