<div class="main-container" *ngIf="dataNotification$ | async as dataNotification">
    <div class="dialog-container">
      <mat-dialog-content class="mat-typography" align="center">
        <h4><b>Ha ocurrido un error</b></h4>
        <p class="content">{{dataNotification.message}}
          <br>
          {{dataNotification.detail}}
        </p>
      </mat-dialog-content>
      <mat-dialog-actions class="buttons" align="center">
        <app-button-form (click)="agree()" text = "Entendido" cdkFocusInitial></app-button-form>
      </mat-dialog-actions>
    </div>
  </div>

