<div class="convocatoria-timeline-container">
  <div class="convocatoria-image-container">
  </div>
  <div class="timeline-container">
    <div class="item-container">
      <div class="item-circle-number">
        <div class="item-number">
          1
        </div>
      </div>
      <div class="item-description">
        Haber cursado por los menos 2 años de estudios universitarios
      </div>
    </div>
    <div class="item-container">
      <div class="item-circle-number">
        <div class="item-number">
          2
        </div>
      </div>
      <div class="item-description">
        Tener Excelencia Académica
      </div>
    </div>
    <div class="item-container">
      <div class="item-circle-number">
        <div class="item-number">
          3
        </div>
      </div>
      <div class="item-description">
        Pertenecer al tercio superior
      </div>
    </div>

  </div>
</div>
