
$height-container:20rem;

.container{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  z-index: 5;
  min-width: calc($height-container/16*9);
  min-height: $height-container;
  background: #b2d9d3;

  padding: .5rem;
}

.card {
  height: calc($height-container - 1rem);
  width: 100%;
  background: #0eca7c;
  display: flex;
  flex-direction: column;
}
.chat-list {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  .chat-item {
    max-width: 80%;
    background-color: red;
    margin:8px 0px;
    padding: 8px 16px;
    border-radius: 8px;
    p{
      margin: 0;
    }
  }
  .left {
    margin-right: auto;
    margin-left: 8px;
  }

  .right {
    margin-right: 8px;
    margin-left: auto;
  }
}
