<app-dialog-yes-no *ngIf="dialogProfileNotConfigured$ | async"></app-dialog-yes-no>
<app-dialog-error-email *ngIf="dialogUserRegisterWrongEmail$ | async"></app-dialog-error-email>
<app-sidenav ></app-sidenav>
<div class="body" [ngClass]="getClass()">
  <router-outlet></router-outlet>
</div>

<!-- <app-chatbot></app-chatbot> -->

<!---Modificar segun proyecto dialogflow-->
<df-messenger
  intent="WELCOME"
  chat-title="Preguntas Frecuentes"
  agent-id="04d9de14-9dcf-4d05-ae9f-52597a23d844"
  language-code="es"
></df-messenger>

