<div class="welcome-container">
  <div class="welcome-form-container">
    <div class="welcome-text">
      <b>Tu información se ha registrado correctamente!</b>
      <br>
      Bienvenido a la plataforma de la Oficina de Movilidad, Becas y Pasantías.
      Ahora podrás estár al pendiente de todas las convocatorias que lanzamos y
      postular a la que te interese
    </div>
    <div class="buttons-handler">
      <div class="form-end-step" routerLink="/home">
        Finalizar
      </div>
    </div>
  </div>
</div>


