<div class="general-info-container">
  <div class="form-container">
    <div class="fields-form">
      <div class="form-item form-item-field-typeevent">
        <div class="form-label form-label-field-typeevent">
          Evento
        </div>
        <select class="form-input-text form-input-field-typeevent" name="typeevent" id="typeevent">
          <option value="Universidad Nacional de San Marcos">Universidad Nacional de San Marcos</option>
          <option value="UNIVERSIDAD SANTO TOMÁS DE MEDELLÍN COLOMBIA">Universidad Santo Tomás de Medellin - Colombia</option>
          <option value="UNMSM – RUNAI">UNMSM – RUNAI</option>
          <option value="UNIVERSIDAD CATÓLICA DEL NORTE – CHILE">Universidad Católica del Norte - Chile</option>
        </select>
      </div>
        <div class="form-item form-item-field-typecollege_career">
          <div class="form-label form-label-field-typecollege_career">
            Programa de Estudios
          </div>
          <select class="form-input-text form-input-field-typecollege_career" name="typecollege_career" id="typecollege_career">
            <option value="Ingenieria Sistemas">Ingenieria de Sistemas</option>
            <option value="Ingenieria Electronica">Ingenieria de Electrónica</option>
            <option value="Ingenieria Electrica">Ingenieria de Electrica</option>
            <option value="Ingenieria Mecanica">Ingenieria de Mecánica</option>
            <option value="Ingenieria Civil">Ingenieria de Civil</option>
            <option value="Ingenieria Industrias Alimentarias">Ingenieria de Industrias Alimentarias</option>
            <option value="Ingenieria Sanitaria">Ingenieria de Sanitaria</option>
            <option value="Ingenieria Telecomunicaciones">Ingenieria de Telecomunicaciones</option>
            <option value="Ingenieria Geologica">Ingenieria de Geológica</option>
            <option value="Ingenieria Minas">Ingenieria de Minas</option>
            <option value="Ingenieria Geofisica">Ingenieria de Geofisica</option>
            <option value="Ingenieria Quimica">Ingenieria de Quimica</option>

            <option value="Medicina">Medicina</option>
            <option value="Enfermeria">Enfermeria</option>
            <option value="Nutricion">Nutricion</option>
            <option value="Ingenieria Pesquera">Ingenieria Pesquera</option>

            <option value="Derecho">Derecho</option>
            <option value="Educacion">Educacion</option>
            <option value="Psicologia">Psicologia</option>
            <option value="Contabilidad">Contabilidad</option>
            <option value="Literatura">Literatura</option>
            <option value="Turismo y Hoteleria">Turismo y Hoteleria</option>
            <option value="Artes">Artes</option>
            <option value="Economia">Economia</option>
          </select>
        </div>
      <div class="form-item form-item-field-typeplace">
        <div class="form-label form-label-field-typeplace">
          Lugar
        </div>
        <select class="form-input-text form-input-field-typeplace" name="typeplace" id="typeplace">
          <option value="Peru">Peru</option>
          <option value="Colombia">Colombia</option>
          <option value="Argentina">Argentina</option>
          <option value="Chile">Chile</option>
          <option value="Brasil">Brasil</option>
          <option value="China">China</option>
          <option value="Estados Unidos">Estados Unidos</option>
          <option value="Francia">Francia</option>
          <option value="Italia">Italia</option>
        </select>
      </div>
      <div class="form-item form-item-field-typcity">
        <div class="form-label form-label-field-typecity">
          Ciudad/Estado
        </div>
        <select class="form-input-text form-input-field-typecity" name="typecity" id="typecity">
          <option value="Arequipa">Arequipa</option>
          <option value="Amazonas">Amazonas</option>
          <option value="Ancash">Ancash</option>
          <option value="Apurimac">Apurimac</option>
          <option value="Ayacucho">Ayacucho</option>
          <option value="Cajamarca">Cajamarca</option>
          <option value="Callao">Callao</option>
          <option value="Cuzco">Cusco</option>
          <option value="Huancavelica">Huancavelica</option>
          <option value="Huanuco">Huanuco</option>
          <option value="Tumbes">Tumbes</option>
        </select>
      </div>
      <div class="form-item form-item-field-date">
        <div class="form-label form-label-field-date">
          Fecha de Evento
        </div>
        <input class="form-input-text form-input-field-date" type="date" name="date" id="date" placeholder="Ingresa Fecha de Evento">
      </div>
    </div>
    <div class="buttons-handler">
      <div class="form-back-step" routerLink="../verificacion-informacion-usuario">
        Atrás
      </div>
      <div class="form-next-step" routerLink="../cargar-archivo-usuario">
        Siguiente
      </div>
    </div>
  </div>
</div>
