<div class="sub-header-container">
    <div class="sub-header-title">
      Notas importantes
    </div>
    <div class="sub-header-body">
      <div class="item-sub-header">
        De cambiar las condiciones de la movilidad o intercambio académico, considerar el oficio 914-2022-SG, que al pie de la letra señala:
“… En sesión de Consejo Universitario del 18 de abril del 2022, considerando el aún contexto actual por la emergencia sanitaria por el COVID 19, acordó que las movilidades académicas e intercambios organizados por su dependencia, para el semestre académico 2022-B, se realicen bajo la modalidad virtual; sin perjuicio de ello, también se acordó que las referidas actividades podrían realizarse de forma presencial, previa evaluación de las condiciones sanitarias y de bioseguridad; así como la autorización específica para el evento; y en caso se ponga en riesgo la protección a la vida y a la salud de los estudiantes agustinos y foráneos, se restrinja dicha presencialidad…”

      </div>
    </div>
  </div>

  <form class="form-container" [formGroup]="formPostulation" >


    <!--               FOTO           -->
    <div class="sub-header-container">
      <div class="sub-header-title">
        Foto
      </div>
      <div class="sub-header-body"  *ngIf="picture$ | async as pictures">
          <p-fileUpload (onSelect)="photoLoaded($event)" *ngIf="pictures; else wopicture" name="myfile" url="./upload.php" [multiple]="false"
                  accept="image/*" chooseLabel="Seleccionar" [maxFileSize]="50000000" [showUploadButton]="false" [showCancelButton]="false"
                  [files] = "pictures"
                  >
                  <ng-template pTemplate="toolbar">
                  </ng-template>
                  <ng-template let-file pTemplate="file">
                      <div class="image-container">
                        <img  [src]="file.objectURL"/>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="content" let-files>
                      <div></div>
                  </ng-template>
          </p-fileUpload>

          <ng-template #wopicture>
            <p-fileUpload name="myfile" url="./upload.php" [multiple]="false"
                    accept="image/*" chooseLabel="Seleccionar" [maxFileSize]="50000000" [showUploadButton]="false" [showCancelButton]="false"
                    >
                    <ng-template pTemplate="toolbar">
                    </ng-template>
                    <ng-template let-file pTemplate="file">
                        <div class="image-container">
                          <img  [src]="file.objectURL"/>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content" let-files>
                        <div></div>
                    </ng-template>
            </p-fileUpload>
          </ng-template>

        </div>
    </div>


    <!--               DATOS PERSONALES           -->
    <div class="sub-header-container">
      <div class="sub-header-title">
        Datos Personales
      </div>
      <div class="sub-header-body">


          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input formControlName="lastname" matInput type="text" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:manage_accounts"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



           <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput type="text" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:supervised_user_circle"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>


          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input formControlName="birthdate" matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>DNI</mat-label>
            <input formControlName="dni" matInput type="number" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:credit_card"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Ciudad/Region</mat-label>
            <input formControlName="cityregion" matInput type="text" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:location_city"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>CUI</mat-label>
            <input formControlName="cui" matInput type="number" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:card_membership"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Dirección actual</mat-label>
            <input formControlName="address" matInput type="text" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:share_location"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Celular</mat-label>
            <input formControlName="mobilephone" matInput type="number" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:phone_iphone"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Correo Institucional</mat-label>
            <input formControlName="institutionalemail" matInput type="email" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:alternate_email"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Número de contacto en caso de emergencia</mat-label>
            <input formControlName="contactnumber" matInput type="number" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:contact_phone"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>


      </div>

    </div>





    <!--               Información académica o de la universidad de origen          -->
     <div class="sub-header-container">
      <div class="sub-header-title">
        Información académica o de la universidad de origen
      </div>
      <div class="sub-header-body">

          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Universidad de Origen</mat-label>
            <input formControlName="university"  matInput type="text"  class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:school"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>


          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Página web</mat-label>
            <input formControlName="u_webpage" matInput type="text" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:web"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>


          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Ciudad/Region</mat-label>
            <input formControlName="u_cityregion" matInput type="text" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:location_city"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Facultad</mat-label>
            <mat-select *ngIf="faculties$|async as faculties" formControlName="u_faculty">
              <mat-option *ngFor="let faculty of faculties" [value]="faculty">
                {{faculty.name}}
              </mat-option>
            </mat-select>
            <mat-icon class="mr-3" matPrefix svgIcon="mat:architecture"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Programa Profesional</mat-label>
            <mat-select *ngIf="programs$|async as programs" formControlName="u_professional_program">
              <mat-option *ngFor="let program of programs" [value]="program">
                {{program.name}}
              </mat-option>
            </mat-select>
            <mat-icon class="mr-3" matPrefix svgIcon="mat:cast_for_education"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Ciclo Actual</mat-label>
            <mat-select *ngIf="cycles$|async as cycles" formControlName="u_current_cicle">
              <mat-option *ngFor="let cycle of cycles" [value]="cycle">
                {{cycle.description}}
              </mat-option>
            </mat-select>
            <mat-icon class="mr-3" matPrefix svgIcon="mat:insights"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Año Académico</mat-label>
            <mat-select *ngIf="academicYears$|async as academicYears" formControlName="u_academic_year">
              <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear">
                {{academicYear.description}}
              </mat-option>
            </mat-select>
            <mat-icon class="mr-3" matPrefix svgIcon="mat:moving"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Promedio de Notas</mat-label>
            <input formControlName="u_grades_mean" matInput type="number" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:grading"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Total de Créditos Acumulados</mat-label>
            <input formControlName="u_total_credits" matInput type="number" class="example-right-align" placeholder="0">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:grade"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>



          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Coordinador del programa</mat-label>
            <input formControlName="u_program_coordinator" matInput type="text" class="example-right-align">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:co_present"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>

          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Cargo del Coordinador</mat-label>
            <textarea formControlName="u_charge" matInput class="example-right-align"></textarea>
            <mat-icon class="mr-3" matPrefix svgIcon="mat:data_thresholding"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>

          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Correo del Coordinador</mat-label>
            <input formControlName="u_email" matInput type="email" class="example-right-align">
            <mat-icon class="mr-3" matPrefix svgIcon="mat:alternate_email"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>

      </div>

    </div>


  </form>
<!--  EDITABLE TABLE -->
    <div class="sub-header-container">
      <div class="sub-header-title">
        Registro de Cursos para Reconocimiento Académico
      </div>
      <div class="sub-header-body">
        <div class="action-create">
          <div (click)="addEmptyCourse()"
            class="course-action create"
            mat-icon-button>
            <mat-icon class="action-icon icon-sm" svgIcon="mat:add_circle"></mat-icon>
          </div>
        </div>
        <div class="table-container">
          <p-table [value]="postulationCourses" class="table-courses-coevan" dataKey="order" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Nro</th>
                      <th> Créditos Curso UNSA</th>
                      <th>Código curso Unsa</th>
                      <th>UNSA Nombre de curso</th>
                      <th>Año</th>
                      <th>Semestre</th>
                      <th>UNMSM Nombre Curso</th>
                      <th>Acciones</th>
                    </tr>
              </ng-template>
              <ng-template pTemplate="body" let-courseconvalidate let-ri="rowIndex">
                  <tr>
                      <td pEditableColumn>
                        {{ri+1}}
                      </td>
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="courseconvalidate.number_credits" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{courseconvalidate.number_credits}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="courseconvalidate.course_code" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{courseconvalidate.course_code}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" type="text" [(ngModel)]="courseconvalidate.unsa_course_name">
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{courseconvalidate.unsa_course_name}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <!-- <input pInputText type="text" [(ngModel)]="courseconvalidate.year"> -->
                                <p-dropdown [options]="years" [(ngModel)]="courseconvalidate.year"></p-dropdown>
                            </ng-template>

                            <ng-template pTemplate="output">
                                {{courseconvalidate.year}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <!-- <input pInputText type="text" [(ngModel)]="courseconvalidate.year"> -->
                          <p-dropdown [options]="semesters" [(ngModel)]="courseconvalidate.semester"></p-dropdown>
                      </ng-template>
                          <ng-template pTemplate="output">
                              {{courseconvalidate.semester}}
                          </ng-template>
                      </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="courseconvalidate.destination_university_course_name">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{courseconvalidate.destination_university_course_name}}
                          </ng-template>
                      </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <div (click)="deleteCourse(ri)"
                          class="course-action delete"
                          mat-icon-button>
                          <mat-icon class="action-icon icon-sm" svgIcon="mat:restore_from_trash"></mat-icon>
                        </div>
                    </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="actions">
      <button (click)="generateDoc()" pButton pRipple type="button"  icon="pi pi-sign-out" class="p-button-rounded p-button-secondary" pTooltip="Regresar"></button>
      <button (click)="generateDoc()" pButton pRipple type="button"  icon="pi pi-cloud-download" class="p-button-rounded p-button-warning" pTooltip="Descargar"></button>
      <button (click)="generateDoc()" pButton pRipple type="button"  icon="pi pi-save" class="p-button-rounded p-button-primary" pTooltip="Guardar"></button>
      <button (click)="generateDoc()" pButton pRipple type="button"  icon="pi pi-send" class="p-button-rounded p-button-success" pTooltip="Enviar"></button>
      <button (click)="generateDoc()" pButton pRipple type="button"  icon="pi pi-trash" class="p-button-rounded p-button-danger" pTooltip="Anular"></button>
    </div>
