<div [ngClass]="prefix">
  <app-of-home-carousel-news></app-of-home-carousel-news>
  <div class="container-convocations">
    <!-- <button routerLink = "/users">Ingresar al sistema</button> -->
   <div class="header-menu">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle checked value="prox">Próximas Convocatorias</mat-button-toggle>
      <mat-button-toggle [ngStyle]="{'font-size.px':16}" value="current">En proceso</mat-button-toggle>
      <mat-button-toggle value="finish">Convocatorias Concluidas</mat-button-toggle>
      <mat-button-toggle value="cancel">Convocatorias Canceladas</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="body-table">
    <app-of-home-table-programs [typeConv]= "group.value"></app-of-home-table-programs>

    </div>

  </div>

</div>

