$prefix: home-component;
.#{$prefix} {
  .container-header{
    width: 100vw;
    height: 48vh;
    background: #DFDFDF;
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto;
    padding: 20px;
    .label-news{
      background: #500117;
      position: absolute;
      color: #FFFFFF;
      font-size: 32px;
      z-index: 3;
      padding: 13px;
      margin-top: 8px;
    }
    .left-news-box {
      z-index: 1;
    }
    .right-help-box {
      display: grid;
      row-gap: 10px;
      grid-template-rows: auto auto;
      .guides-box{
        background: #9C022D;
        border-radius: 8px;
        width: 70%;
        height: fit-content;
        padding: 20px;
        opacity: 0.8;
        .text-guide{
          font-size: 18px;
          text-align: justify;
          color: #FFFFFF;
        }
      }
      .application-index {
        background: #FFFFFF;
        border-radius: 8px;
        width: 70%;
        height: fit-content;
        padding: 20px;
        display: grid;
        column-gap: 5px;
        grid-template-columns: auto auto;
        .text-program{
          font-weight: 400;
          font-size: 32px;
          line-height: 39px;
          color: #011847;
        }
        .btn{
          margin-top: 30%;
        }
      }
    }
  }
  .container-convocations {
    padding: 20px 10px;
    width: 80vw;
    margin: 0 auto;
    .header-menu{
      background: #EBEBEB;
      border: 1px solid #9A9292;
      border-radius: 2px;
      margin: 0 auto;

      mat-button-toggle-group {
        box-shadow: none;
        width: 100%;
        padding-left: 4%;
      }

      mat-button-toggle {
        border: 1px rgba(0,0,0,0) solid;
        margin: 5px 0;
        background-color: #C5C1C2;
        z-index: 3;
        color: #FFFFFF;
        width: 24%;
        font-size: 22px;
      }

      mat-button-toggle:hover {
        box-shadow: 2px 2px 2px #000;
        background-color: #9C022D;
      }

      .mat-button-toggle-checked {
        box-shadow: 2px 2px 2px #000;
        background-color: #9C022D ;
      }

      .mat-button-toggle-input {
        padding-left: 32px;
      }
    }
    .body-table{
      padding: 20px;
      border: 1px solid #9C022D;
      border-radius: 2px;
    }
  }
}
