<div [ngClass]="prefix">
  <div class="container-header">
    <div class="label-news">NOTICIAS</div>

    <div class="left-news-box">
      <app-of-home-carousel-news></app-of-home-carousel-news>
    </div>
    <div class="right-help-box">
      <div class="guides-box">
        <p class="text-guide">Instructivo para la postulación en Línea: <strong><a href="#" class="text-guide">Ver Instructivo</a></strong></p>
        <p class="text-guide">Para una orientación técnica puede enviar su consulta al siguiente correo:
          <strong><a href="#" class="text-guide">convenios@unsa.edu.pe</a></strong>
        </p>
      </div>
      <div class="application-index">
        <p class="text-program"> PROGRAMA DE INTERCAMBIO EDUCATIVO VIRTUAL - PIE 2022-2</p>
        <app-button-customized colorProp="primary" textBtn="Postular" size="big"></app-button-customized>
      </div>
    </div>
  </div>
  <div class="container-convocations">
    <!-- <button routerLink = "/users">Ingresar al sistema</button> -->
   <div class="header-menu">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle checked value="prox">Próximas Convocatorias</mat-button-toggle>
      <mat-button-toggle value="current">En proceso</mat-button-toggle>
      <mat-button-toggle value="finish">Convocatorias Concluidas</mat-button-toggle>
      <mat-button-toggle value="cancel">Convocatorias Canceladas</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="body-table">
    <app-of-home-table-programs [typeConv]= "group.value"></app-of-home-table-programs>

    </div>

  </div>

</div>

