<div class="container">
  <div class="header-home">
    <div class="form-login">
      <span>Bienvenido(a)</span>
      <button mat-raised-button class="login-button"  (click)="signInHandler()">Acceder con Correo GMAIL</button>
    </div>
  </div>
  <div class="body-card">
    <div class="item-body" *ngFor="let item of items">
      <img [src]="item.img" [alt]="item.title">
      <h1>{{item.title}}</h1>
      <div class="action-button" >
        Ingrese
      </div>
    </div>
  </div>
</div>


