.request-document{
    .p-fileupload-content{
      width: auto;
    }

    .p-fileupload{
      width: 100%;
    }

    .p-fileupload-files{

      height: 100%;
      overflow: hidden;
      .ng-star-inserted{
        .image-container{
          width: 100%;
        }
      }
    }
    .p-fileupload .p-fileupload-buttonbar .p-button{
      width: 100%;
    }
  .p-fileupload .p-fileupload-row{
    text-align: center;
    text-align-last: center;
    div:first-child {
      display: none
    }
  }
  }

