<div class="container-convocatoria-detail">
  <div class="container-content">
    <div class="router">
      <router-outlet>

      </router-outlet>
    </div>

    <!-- <div class="sub-side-bar-container">
      <a routerLink ='requisitos-para-postular' class="sidebar-item-link"
        routerLinkActive = "active"
        [routerLinkActiveOptions] = "{exact: true}"
      >
        <span class="sidebar-item-text"> Requisitos para Postular</span>
      </a>
      <a routerLink ='cronograma' class="sidebar-item-link"
        routerLinkActive = "active"
        [routerLinkActiveOptions] = "{exact: true}"
      >
        <span class="sidebar-item-text"> Cronograma</span>
      </a>
      <a routerLink ='contacto' class="sidebar-item-link"
        routerLinkActive = "active"
        [routerLinkActiveOptions] = "{exact: true}"
      >
        <span class="sidebar-item-text"> Contacto</span>
      </a>
      <a [routerLink] ='rutaApply' class="sidebar-item-link"
        routerLinkActive = "active"
        [routerLinkActiveOptions] = "{exact: true}"
      >
        <span class="sidebar-item-text"> Postular</span>
      </a>
    </div> -->
  </div>
</div>
