.container-postulation{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.sub-header-title{
  font-weight: 500;
  margin-bottom: .5rem;
}

.sub-header-container{
  // background-color: antiquewhite;
  margin-bottom: 2rem;
}
.sub-header-body{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem 3rem;
  flex-wrap: wrap;
  width: 80%;
}
.container-stage{
  width: 100%;
  height: 400px;
  background-color: aquamarine;
}

.header-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.action-create{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
