<div class="unsa-student-container">
  <div class="unsa-student-form-container">
    <div class="form-fields-image-contaniner">
      <div class="fields-form">
        <div class="form-item form-item-field-program">
          <div class="form-label form-label-field-program">
            Programa Profesional (Escuela Profesional)
          </div>
          <input class="form-input-text form-input-field-program" type="text" name="program" id="program" >
        </div>
        <div class="form-item form-item-field-cui">
          <div class="form-label form-label-field-cui">
            CUI
          </div>
          <input class="form-input-text form-input-field-cui" type="text" name="cui" id="cui" placeholder="Ingresa tu CUI">
        </div>
        <div class="form-item form-item-field-semester">
          <div class="form-label form-label-field-semester">
            Semestre
          </div>
          <select class="form-input-text form-input-field-semester" name="semester" id="semester">
            <option value="1er Semestre">1er Semestre </option>
            <option value="1er Semestre">2do Semestre </option>
            <option value="1er Semestre">3ro Semestre </option>
            <option value="1er Semestre">4to Semestre </option>
            <option value="1er Semestre">5to Semestre </option>
            <option value="1er Semestre">6to Semestre </option>
            <option value="1er Semestre">7mo Semestre </option>
            <option value="1er Semestre">8vo Semestre </option>
            <option value="1er Semestre">9no Semestre </option>
            <option value="1er Semestre">10mo Semestre </option>
          </select>
        </div>
      </div>
      <div class="image-form">
        <img src="assets/images/student-image.png" alt="tipo de estudiante" class="image-type-student">
        <div class="text-type-user">
          Estudiante UNSA
        </div>
      </div>
    </div>
    <div class="buttons-handler">
      <div class="form-back-step" routerLink="../informacion-general-usuario">
        Atrás
      </div>
      <div class="form-next-step" routerLink="../informacion-registrada-usuario">
        Siguiente
      </div>
    </div>
  </div>
</div>
