<div class="general-info-container">
  <div class="form-container">
    <div class="fields-form">
      <div class="form-item form-item-field-names">
        <div class="form-label form-label-field-name">
          Nombres
         </div>
        <input class="form-input-text form-input-field-name" type="text" name="name" id="name" placeholder="Matías Fabián" disabled>
      </div>
      <div class="form-item form-item-field-lastname">
        <div class="form-label form-label-field-lastname">
          Apellidos
        </div>
        <input class="form-input-text form-input-field-lastname" type="text" name="lastname" id="lastname" placeholder="Málaga Acosta" disabled >
      </div>
      <div class="form-item form-item-field-phonenumber">
        <div class="form-label form-label-field-dni">
          D.N.I.
        </div>
        <input class="form-input-text form-input-field-dni" type="text" name="dni" id="dni" placeholder="91457489" disabled>
      </div>
        <div class="form-item form-item-field-phonenumber">
        <div class="form-label form-label-field-phonenumber">
          Número de Teléfono o Celular
        </div>
        <input class="form-input-text form-input-field-phonenumber" type="text" name="phonenumber" id="phonenumber" placeholder="Ingresa tu Número de teléfono" required>
      </div>
      <div class="form-item form-item-field-address">
        <div class="form-label form-label-field-address">
          Correo Electrónico
        </div>
        <input class="form-input-text form-input-field-email" type="email" name="email" id="email" placeholder="mmalaga@unsa.edu.pe" disabled>
      </div>
    </div>
    <div class="buttons-handler">
      <div class="form-next-step" routerLink="../llenar-ficha-usuario">
        Siguiente
      </div>
    </div>
  </div>
</div>
